@{
    ViewData["Title"] = "Home Page";
}
<style>
    h1{
        color: brown;
        font-size: 50px;
    }


</style>

<div class="texto">
        <h1 style=" text-align: center;">TUKI HOTEL</h1>
    <img src="~/lib/Imagen/hotel.jpg" />
</div>

